
  body {
	font-size: 1.25rem;
	background-color: #f6f8fa;
  }
  
  td {
	  line-height: 3rem;
  }

  nav {
    color: #fff;
    background-color: #590040 !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

